default_language_version:
    python: python3

exclude: |
    (?x)(
        ^tests/|
        ^docs/
    )
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v3.2.0
      hooks:
          - id: check-ast
          - id: check-docstring-first
          - id: check-executables-have-shebangs
          - id: check-json
          - id: check-merge-conflict
          - id: check-yaml
          - id: debug-statements
          - id: end-of-file-fixer
          - id: trailing-whitespace
          - id: check-vcs-permalinks
    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.6.9
      hooks:
        - id: ruff
          files: api
          args: [--fix]
        - id: ruff-format
          files: api
