.[all]

# test requirements
pre-commit
black
mypy
flake8
autopep8
pylint
pytest
pytest-cov
pytest-mock
pytest-spark
sphinx>=2.4.0
pandoc
sphinx-rtd-theme
furo==2022.4.7
sphinx-autodoc-typehints
nbsphinx
flask

pyspark
dask[dataframe,distributed]

# publish to pypi
wheel
twine
