# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Test Windows

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        python-version: [ 3.9, "3.10", "3.11", "3.12"]

    steps:
    - name: Clone repo
      uses: actions/checkout@v5

    - name: Setup uv ${{ matrix.python-version }}
      uses: astral-sh/setup-uv@v5
      with:
        enable-cache: false
        cache-dependency-glob: "pyproject.toml"
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: make devenv

    - name: Test
      run: make testcore
